<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Form Submission</title>
    <style>
      h1 { text-align: center; } h2 { text-align: center; color: #333;
      font-size: 15px; font-weight: bold; } strong { color: #000; } .love {
      background: white; width: 100%; padding: 20px 20px; } div{background:
      white;}
    </style>
  </head>
  <body>
    <div>
      <div class="love">
        <h1><img
            src="https://assuchh.vercel.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Flogo.8d6e9b02.png&w=640&q=75"
            alt="{{companyName}}"
          /></h1>
        <h2>New Contact Form Submission</h2>
        <p><strong>Name:</strong> {{name}}</p>
        <p><strong>Email:</strong> {{email}}</p>
        <p><strong>Subject:</strong> {{subject}}</p>
        <p><strong>Message:</strong> {{message}}</p>
      </div>
    </div>
  </body>
</html>